@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --buttonColor: #FA2E53;
  --white: #fff;
  --dark: #000;
  --green: #81c14b;
  --white: #ffffff;
  --backgroundColor: #1A202C;
  --textColor: #000;
  --airdropBackgroundColor: #1a202c;
  --dataContainerBackgroundColor: #171923;
  --bb:#f6f5fb;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins","Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
